# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

/binaries
/publish
bin/
Bin/
obj/
_ReSharper*/
*.Cache
*.cache
/msbuild.log
source/Appccelerate.1.2.dotCover
*.user
*.suo